body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f70525;
    color: #131111;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #9e185d;
}

section {
    margin: 20px 0;
    padding: 15px;
    background: #991e66;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
